{% extends "layout2.html" %}
{% block body %}
<div>
	<h3>Object at {{ entry.doc._id }}:</h3>
	<ul style="list-style-type" id="itemList">
	</ul>
	<button id="btnAdd">Add Item</button>
	<script type="text/javascript">
		var itemList = $("#itemList");	
		function addItem(name, value, inType) {
			var newItem = $("<li></li>");
			var someText = "Name:&nbsp;" + name + "&nbsp;Value:&nbsp;" + value + "&nbsp;Type:&nbsp;" + inType
			newItem.html(someText);
			itemList.append(newItem);	
		}

		var theDocument = {};
		var schema = {};
		// Make schema into a valid JSON object
		{% for sKey in entry.schema %}
			schema["{{ sKey }}"] = "{{ entry.schema[sKey] }}";
		{% endfor %}
		// Make the document into a valid JSON object
		{% for dKey in entry.doc %}
		theDocument["{{ dKey }}"] = "{{ entry.doc[dKey] }}";
		{% if dKey == "key" %}
			$.noop();
		{% elif dKey == "_id" %}
			$.noop();
		{% else %}
			addItem("{{ dKey }}", "{{ entry.doc[dKey] }}", schema["{{ dKey }}"])
		{% endif %}
		{% endfor %}

		$("#btnAdd").click(function() {
			addItem(JSON.stringify(theDocument), null, null);
		 });
	</script>
</div>
{% endblock %}
