{% extends "layout.html" %}
{% block body %}
	{{ schema.key }}
	{{ schema.schema }}
	<ul>
		{% for k in schema.schema %}
			{% if schema.schema[k] == "integer" %}
				<li>{{ k }}: <input type="text" id="{{ k }}" />(number)</li>
			{% elif schema.schema[k] == "string" %}
				<li>{{ k }}: <input type="text" id="{{ k }}" />(text)</li>
			{% elif schema.schema[k] == "date" %}
				<li>{{ k }}: <input type="text" id="{{ k }}" />(date)</li>
			{% else %}
				<li>{{ k }}</li>
			{% endif %}
		{% endfor %}
	</ul>
	<div id="stuff">Stuff</div>
	<div style="clear: both; float: left;">		
		<button id="btnAdd">Add Entry</button><br />
		<a href="/list/objects">Go To Object List</a>	
	</div>
	<script type="text/javascript">
		//alert("loaded!");
		var btnAdd = $("#btnAdd");
		/*{% for k in schema.object %}
			var {{ k }} = $("#{{k}});
		{% endfor %}*/

		var newObject = {};
		newObject["key"] = "{{ schema.key }}";
		var someString = "";

		function AddEntry() {
			$("input").each(function() { // get all the info
				newObject[this.id] = $(this).val();
			});
		
			$("input").promise().done(function() { // Once the each function is done, do stuff
				$("#stuff").html(JSON.stringify(newObject));
				var inBody = {data: newObject};
				$.post("/add/object", newObject, function(data){
					alert(data);
				});
	
			});
		}

		btnAdd.click(AddEntry);
	</script>
{% endblock %}
